<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'insert' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    Name
                </td>
                <td>
                    <input type="text" name="fname">
                </td>
            </tr>
            <tr>
                <td>
                    address
                </td>
                <td>
                    <input type="text" name="address">
                </td>
            </tr>
            <tr>
                <td>
                    City
                </td>
                <td>
                    <input type="text" name="city">
                </td>
            </tr><tr>
                <td>
                    phone
                </td>
                <td>
                    <input type="text" name="phone">
                </td>
            </tr>
            <tr>
                
                <td>
                    <input type="submit" value="insert" >
                </td>
            </tr>
        </table>
    </form>
</body>
</html>